@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play:wght@400;700&display=swap');




body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carol{
  background: contain;
}

:root {
  --primary: #074FBA; 
}

.radius{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-image: url('../public/city.jpg');
  background-position:cover;
  background-repeat: no-repeat;
}

.logo{
  font-family: "Play", sans-serif;
  font-weight: 600;
  font-style: normal;
}

